.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#view {
    flex-grow: 1;
    max-width: 600px;
    min-width: 600px;
}

.view-spacer {
    width: 33%;
}

.layers-container {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#layers {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.layer {
    width: 100%;
    padding: 5px 20px;
    cursor: pointer;
    display: flex;
}

.layer:hover {
    background: #FA7268;
    color: white;
}

.layer .delete {
    margin-left: auto;
    align-self: center;
}


#previous-posts {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}

#previous-posts > img {
    width: 150px;
    height: auto;
    padding: 5px;
}


