.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#view {
    flex-grow: 1;
    max-width: 600px;
    min-width: 600px;
}

.view-spacer {
    background: yellow;
    width: 33%;
}

.layers-container {
    background: pink;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

#layers {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.layer {
    margin-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    width: 200px;
    padding: 3px;
    cursor: pointer;
    display: flex;
}

.layer:hover {
    background: lightblue;
}

.layer .delete {
    margin-left: auto;
    align-self: center;
}


#previous-posts {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}

#previous-posts > img {
    width: 150px;
    height: auto;
    padding: 5px;
}


