.main-container {
	display: flex;
	justify-content: center;
	padding: 20px 0px;
}

.media-view {
	position: relative;
	width: 600px;
	border: 1px solid black;
	height: 600px;
	background: whitesmoke;
}

.hidden {
	display: none;
}

.media-controls {
	display: flex;
	flex-direction: column;
}

.media-view > * {
	position: absolute;
}

#stickers {
	display: flex;
	overflow-y: scroll;
}

#stickers > img {
	width: auto;
	height: 75px;
}
